/emu_log.txt
/bwuhos-fs.img
/bwuhos.img
/kernel/kernel/lib
/kernel/arch/x86_64/lib
/kernel/kbin
/kernel/kbin.debug
/root/boot/kbin
/root/boot/limine-bios-cd.bin
/root/boot/limine-uefi-cd.bin
/root/boot/limine-bios.sys
