[submodule "deps/limine"]
	path = deps/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v3.0-branch-binary
[submodule "deps/font8x8"]
	path = deps/font8x8
	url = https://github.com/dhepper/font8x8.git
